# Build
build/
out/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VS / VSCode
.vs/
.vscode/
*.vcxproj*
*.sln

# Binaries
*.exe
*.dll
*.lib
*.obj
*.pdb

# Models
models/
models/*.bin
models/stt/*.bin
models/tts/*.bin

# External Files
external/

# Logs
*.log